.card-custom{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.card-custom:hover, .card-custom:focus, .card-custom:active {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.img-size{
  height: 300px;
}